* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Asap, sans-serif;
}

body {
	text-align: center;
	background-color: #EDEDEE;
}

header {
	display: flex;
	justify-content: space-between;
	padding: 20px 30px;
	align-items: center;
}

.logo img {
	max-width: 300px;
	width: 100%;
	height: auto;
	margin-bottom: -8px;
}

.menu-list li {
	display: inline-block;
	vertical-align: center;
	margin-left: 25px;
}

.menu-list li>a {
	text-decoration: none;
	color: black;
}

/*******************************************************************
// TOP BODY
******************************************************************/
.main-content {
	margin: 10px auto;
}



.main-content form>input {
	display: block;
	margin: 20px auto;
	height: 30px;
	width: 250px;
	padding-left: 5px;
	margin-bottom: 15px;
}

.main-content form>button {
	text-transform: uppercase;
	background-color: orange;
	font-size: 15px;
	font-weight: 600;
	padding: 5px 10px;
	border: 0px solid;
	border-radius: 4px;
}

/*******************************************************************
// BODY-CONTENT
******************************************************************/
.body-text {
	margin-top: 80px;
}
.body-content {
	display: grid;
	grid-template-columns: 20% 80%;
	width: 85%;
	max-width: 950px;
	margin: 20px auto;
	align-items: center;
	margin-bottom: 40px;
}

.body-text-content {
	text-align: left;
}

.body-text-content h2{
	padding-bottom: 10px;
}
.icon {
	color: orange;
}